.spec-border {
    animation: border-animation 0.5s ease;
    animation-iteration-count: 1;
}

@keyframes border-animation {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.spec-main {
    animation: main-animation ease;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes main-animation {
    0%,
    50% {
        opacity: 0;
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
