.fx {
    color: black;
    position: relative;
}

.fx::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: -1;
}

.fx:hover::before {
    width: 100%;
    padding-right: 1em;
    background-color: purple;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.15s ease-out;
}

section {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}
